<header>
  <a href="http://www.presidencia.gob.ve/Site/Web/Principal/paginas/classVice_Suprema_Felicidad_Social_Pueblo.php" target="_blank">
    <img id="header-pic" src="https://imgur.com/dZHnpG7.png" />
  </a>
</header>

<main>
  <div id="title-group">
    <h1 id="title">
    M.E.V.S.F.S.P.M.P.P.D.P.S.G.G.
    </h1>

    <p id="description">
    Misión Encuesta del Viceministerio para la Suprema Felicidad del Pueblo, parte del Ministerio del Poder Popular del Despacho de la Presidencia y Seguimiento de la Gestión de Gobierno
    </p>
  </div>

  <form id="survey-form" class="content" action="<%= poll_create_path %>">
    <div class="question-group">
      <label id="name-label" class="question" for="name">
      nombre
      </label>

      <input
      id="name"
      type="text"
      placeholder="Introduzca su nombre aquí"
      name="name"
      required
      >
    </div>

    <div class="question-group">
      <label id="email-label" class="question" for="email">correo electrónico</label>
      <input
        id="email"
        type="email"
        placeholder="Introduzca su correo aquí"
        name="email"
        required>
    </div>

    <div class="question-group">
      <label id="number-label" class="question" for="number">
      número de teléfono
      </label>

      <input
      id="number"
      type="number"
      min="1111111"
      max="9999999"
      placeholder="Introduzca su número aquí"
      name="phone"
      >
    </div>

    <div class="question-group">
      <label id="dropdown-label" class="question" for="dropdown">
      ¿Por qué eres feliz?
      </label>

      <select
      id="dropdown"
      placeholder="DROPDOWN"
      name="select">
        <option disabled selected>
        elija una opción
        </option>

        <option value="answer1">
        El comandante eterno tocó mi corazón.
        </option>

        <option value="answer2">
        Recibo mi CLAP casi siempre que obedezco.
        </option>

        <option value="answer3">
        Sé que los burguesitos la están pasando mal.
        </option>

        <option value="answer4">
        Vivo en Venezuela, es la tierra donde nació Bolívar.
        </option>

        <option value="answer5">
        A pesar de todo lo que El Pueblo ha hecho por mí, soy infeliz.
        </option>
      </select>
    </div>

    <div class="question-group">
      <p class="question">Según tu oponión, ¿cuál es el origen de la infelicidad?</p>

      <label for="capitalismo" class="radiocheck-label">
        <input
        id="capitalismo"
        type="radio"
        name="radio"
        value="answer6">
      La ignorancia de creer en el capitalismo salvaje.
      </label>

      <label for="chavez" class="radiocheck-label">
        <input
        id="chavez"
        type="radio"
        name="radio"
        value="answer7">
      El dolor de saber que Chávez se fue muy pronto.
      </label>

      <label for="escualido" class="radiocheck-label">
        <input
        id="escualido"
        type="radio"
        name="radio"
        value="answer8">
      Ser escuálido.
      </label>
    </div>

    <div class="question-group">
      <p class="question">¿Qué haces para ayudar a conseguir la suprema felicidad de El Pueblo?</p>
      <label for="votar" class="radiocheck-label">
        <input
        id="votar"
        type="checkbox"
        name="checkbox1"
        value="answer9">
      Voto cada vez que mi revolución lo necesita.
      </label>

      <label for="comunicar" class="radiocheck-label">
        <input
        id="comunicar"
        type="checkbox"
        name="checkbox2"
        value="answer10">
      Mantengo informados a mis camaradas cuando no tienen luz o no pueden ver VTV.
      </label>

      <label for="sapear" class="radiocheck-label">
        <input
        id="sapear"
        type="checkbox"
        name="checkbox3"
        value="answer11">
      Mantengo informadas a las autoridades sobre lo que hacen mis camaradas.
      </label>
    </div>

    <div class="question-group">
      <label for="sentir" class="question">
      ¿Cómo te haría sentir si esta encuesta no llegara a ser leída nunca?
      </label>

      <textarea placeholder="Escribe tu respuesta aquí" name="open_question"></textarea>
    </div>

    <div>
      <button
        type="submit"
        id="submit">Enviar
      </button>
    </div>
  </form>

</main>
