<header>
  <a href="http://www.presidencia.gob.ve/Site/Web/Principal/paginas/classVice_Suprema_Felicidad_Social_Pueblo.php" target="_blank">
    <img
    id="header-pic" 
    src="https://imgur.com/dZHnpG7.png">
    </img>
  </a>
</header>
<main>
  <div id="title-group">
   <h1 id="title">
   R.E.M.E.V.S.F.S.P.M.P.P.D.P.S.G.G.
   </h1>   
   <p id="description">
   Respuestas a la Encuesta de Misión Encuesta del Viceministerio para la Suprema Felicidad del Pueblo, parte del Ministerio del Poder Popular del Despacho de la Presidencia y Seguimiento de la Gestión de Gobierno
   </p>
 </div>
    <div class="question-group">
      <p id="feliz" class="question">
      ¿Por qué eres feliz?
      </p>  
        <ul>
          <li>
          elija una opción
          </li>
          <li>
          El comandante eterno tocó mi corazón.
          </li>        
          <li>
          Recibo mi CLAP casi siempre que obedezco.
          </li>       
          <li>
          Sé que los burguesitos la están pasando mal.
          </li>       
          <li>
          Vivo en Venezuela, es la tierra donde nació Bolívar.
          </li>     
          <li>
          A pesar de todo lo que El Pueblo ha hecho por mí, soy infeliz.
          </li>
        </ul>
  </div>  <!-- cierre pregunta 1-->
  <div class="question-group">
      <p class="question">
      Según tu oponión, ¿cuál es el origen de la infelicidad?
      </p> 
        <ul>
          <li>
          La ignorancia de creer en el capitalismo salvaje.
          </li>     
          <li>
          El dolor de saber que Chávez se fue muy pronto.
          </li>      
          <li>
          Ser escuálido.
          </li>
        </ul>
    </div> <!-- cierre pregunta 2-->
    <div class="question-group">
      <p class="question">
      ¿Qué haces para ayudar a conseguir la suprema felicidad de El Pueblo?
      </p>
      <ul>
        <li>
        Voto cada vez que mi revolución lo necesita.
        </li>    
        <li>
        Mantengo informados a mis camaradas cuando no tienen luz o no pueden ver VTV.
        </li>      
        <li>
        Mantengo informadas a las autoridades sobre lo que hacen mis camaradas.
        </li>
      </ul>
   </div>  <!-- cierre pregunta 3-->
   <div class="question-group">
   ¿Cómo te haría sentir si esta encuesta no llegara a ser leída nunca?
   </div>
</main>